@charset "UTF-8";

body {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(191, 207, 130); 
    background-color: white;
}
h2 {
    color: rgb(102, 91, 91);
}
p {
    color: rgb(20, 13, 13);
    text-align: justify;
}